<main>
  <h2>회원가입</h2>
  <form action="auth/signup">
    <label for="username">이메일:</label>
    <input type="email" name="username" id="username">
    <label for="password">비밀번호</label>
    <input type="password" name="password" id="password">
    <label for="password-confirm">비밀번호 확인</label>
    <input type="password" name="password-confirm" id="password-confirm">
  </form>
</main>