<main>
  <h2>파일 저장소</h2>
  <button type="button" command="show-modal" commandfor="create-folder">새 폴더 만들기</button>
  <%- include("../partials/folders") %>
</main>
<%- include("../dialogs/create-folder") %>